<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bubastis</display-name>
  <welcome-file-list>
    <welcome-file>bubastis.html</welcome-file>
    <welcome-file>bubastis.htm</welcome-file>
    <welcome-file>bubastis.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>BubastisDiffResults</display-name>
    <servlet-name>BubastisDiffResults</servlet-name>
    <servlet-class>bubastiswebcode.BubastisDiffResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BubastisDiffResults</servlet-name>
    <url-pattern>/BubastisDiffResults</url-pattern>
  </servlet-mapping>


</web-app>